.card {
	border: 2px solid #fff;
	color: #fff;
	padding: 20px;
}

.landing-grid {
	width: 100%;
	margin: 0 auto;
}

.card p {
	padding: 10px 20px;
}

.icon {
	width: 85px;
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}

@media screen and (min-width: 420px) {
	.landing-grid {
		width: 90%;
	}
	.card {
		margin: 5px auto;
		max-width: 390px;
	}
}

@media screen and (min-width: 700px) {
	.landing-grid {
		display: grid;
		grid-gap: 15px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
