.hero {
	background-image: url("../../images/hero-cityscene.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;

	height: 100vh;
	width: 100%;
	/* height: auto;
	min-height: 500px; */
}

.landing-title {
	color: #fff;
	text-align: center;
	font-size: 36px;
	margin: 0;
	padding-top: 150px;
}

.arrow {
	width: 70px;
	display: block;
	margin: 0 auto;
}
