.nav {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	background-color: #353535;
	height: 45px;
	text-align: center;
}

.logo {
	grid-column: 2;
	text-decoration: none;
	font-family: "Hind", sans-serif;
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 10px;
}

